<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=chat" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/especialidade.css') }}">
    <title>ByteHealth</title>
</head>

<body>
    <div class="logo">
        <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo da ByteHealth">
        <h1 id="nome">ByteHealth</h1>
    </div>

    <div class="caixa_login">
        <h1>Escolha a especialidade</h1>

        <div class="especialidade">
            <label for="Pediatria">
                <input type="radio" id="Pediatria" name="especialidade" value="Pediatria"> Pediatria
            </label>
        
            <label for="Clinico">
                <input type="radio" id="Clinico" name="especialidade" value="Clinico"> Clínico
            </label>
        </div>        

        <div class="botao">
            <button id="ConfirmarEspe" onclick="ConfirmarEspe()">CONFIRMAR</button>
        </div>        

        <div class="voltar1">
            <a href="/confirmar">
                <button id="VoltarEspe" onclick="VoltarEspe()">VOLTAR</button>
            </a>
        </div>

        <div class="chat">
            <button id="CHAT">
                <a href="/chatbot">
                    <span class="material-symbols-outlined">chat</span>
                <a/>
            </button>
        </div> 
    </div>

    <script src="{{ url_for('static', filename='Script/senha.js') }}"></script>
    <script src="{{ url_for('static', filename='Script/script.js') }}"></script>
    <script src="{{ url_for('static', filename='Script/routes.js') }}"></script>
    <script src="{{ url_for('static', filename='Script/especialidade.js') }}"></script>
    <script src="{{ url_for('static', filename='Script/chatbot.js') }}"></script>

</body>
</html>