<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=chat" />
    <script type="module" src="{{ url_for('static', filename='Script/login.js') }}"></script>
    <title>ByteHealth</title>
</head>

<body>
    <div class="logo">
        <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo da ByteHealth">
        <h1 id="nome">ByteHealth</h1>
    </div>

    <div class="caixa_login">
        <h1>Acesse sua conta</h1>
        <div class="input_box">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <br><br>
            <input type="password" name="password" id="password" placeholder="Senha" required>
        </div>
        
        <div class="botao">
            <button type="submit" id="submit">ENTRAR</button>
        </div>

        <div class="chat">
            <button id="CHAT">
                <a href="/chatbot">
                    <span class="material-symbols-outlined">chat</span>
                <a/>
            </button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='Script/script.js') }}"></script>
    <script src="{{ url_for('static', filename='Script/chatbot.js') }}"></script>

</body>
</html>